.name {
  color: #f8f8fb;
  font-weight: 500;
  margin: 30px auto;
}

.proclaim {
  color: #f8f8fb;
  font-weight: 300;
  margin: 30px auto;
}

@media only screen and (min-width: 300px) {
  .aside {
    /* background-color: #20232a; */
    background: #051e3e;
    border-bottom: 3px solid #f8f8fb;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
  }

  .proclaim {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 700px) {
  .aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }

  .proclaim {
    font-size: 1.17rem;
  }
}
