.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 500px;
}
.contact > ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.contact > ul > li {
  padding: 50px 10px;
  margin: 25px 35px;
}
