.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  min-height: 100vh;
  background: linear-gradient(#051e3e, #251e3e);
  color: #f8f8fb;
}
.contact > ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
}

.contact > ul > li {
  padding: 50px 10px;
  margin: 25px 35px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
}
