.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#051e3e, #251e3e);
  color: #f8f8fb;
}
.contact > ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.contact > ul > li {
  padding: 50px 20px;
  margin: 25px 35px;
}
